<div class="container mt-5">
    <div class="text-center my-5">
        <h1> Get to know the library owners! </h1>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cbsnews1.cbsistatic.com/hub/i/2018/11/06/0c1af1b8-155a-458e-b105-78f1e7344bf4/2018-11-06t054310z-1334124005-rc1be15a8050-rtrmadp-3-people-sexiest-man.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Jacob Adams</h5>
                    <p class="card-text">I've always been a fan of reading and when I was 9 I knew that this is what I wanted for my future.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images-prod.healthline.com/hlcmsresource/images/topic_centers/2018-12/Mere-Abrams-Edited.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Reily White</h5>
                    <p class="card-text">"I cannot remember the books I’ve read any more than the meals I have eaten; even so, they have made me." </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.psychologytoday.com/sites/default/files/styles/image-article_inline_full/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=ji6Xj8tv" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mason Smith</h5>
                    <p class="card-text">“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.”</p>
                </div>
            </div>
        </div>

    </div>

</div>