<table class="table ">
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Genero </th>
            <th> Precio </th>
            <th> Stock </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{book.name}} </td>
            <td> {{book.gender}} </td>
            <td> {{book.price}}</td>
            <td> {{book.stock}} </td>
        </tr>
        <tr>
            <td> Matilde debe morir </td>
            <td> Intriga </td>
            <td> 500$ </td>
            <td> si </td>
        </tr>
        <tr>
            <td> blablabla </td>
            <td>sdasad </td>
            <td>asdsad</td>
            <td>sadas</td>
        </tr>
    </tbody>
</table>